<div class="auth-container">
  <div class="auth-box">
    <div class="logo">
      <img [src]="'img/wurs-logo.png'" alt="A WURS logo as the form title" />
    </div>
    <app-dynamic-form
      [fields]="formFields"
      buttonText="Iniciar Sesión"
      (formSubmit)="handleSubmit($event)"
    >
      <div class="register-link">
        <p>
          ¿Tienes un pase de registro?
          <a [routerLink]="'/register'">Crea tu cuenta ahora</a>
        </p>
      </div>
    </app-dynamic-form>
  </div>
</div>
